* {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    margin: 10px 25px;
    height: 500px;
    border: 2px solid gray;
    padding: 0;
    background-color: #D9FAD9;
}

.btn {
    margin: 5px 20px;
    padding: 5px 15px;
    box-shadow: 2px 2px 2px #706A6A;
}

button:hover{
  transform:scale(1.1);
}


/*.dm{
	position: relative;
	font-size: 2em;
	line-height: 1;
	top: 0px;
	left: 0px;
}*/

.content p {
	font-size: 1.5em;
    float: right;
    display: inline-block;
    position: relative;
    animation: dmtext 20s linear infinite;
}

@keyframes dmtext {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}
